* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: #ff5945;
    padding: 10px;
}

.todo {
    width:35%;
    /* min-width: 540px; */
    background: linear-gradient(156deg, #ffff, #ffff, #b8b2b2e0);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo h2 {
    color: #002765;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    padding: 0 30px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    padding-left: 20px;
    border-radius: 30px;
    background: #edeef0;
}
input{
    flex: 1;
    background: transparent;
    outline: none;
    border: none;
    font-weight: 14px;
    padding: 10px;
}
button{
    padding: 14px 35px;
    border: none;
    outline: none;
    background: #ff5945;
    color: #ffffff;
    cursor: pointer;
    border-radius: 40px;
    font-size: 16px;
}
ul li{
    list-style-type: none;
    padding: 12px 10px 11px 50px ;
    font-size: 17px;
    cursor: pointer;
    user-select: none;
    position: relative;
    /* color: black; */
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('uncheck.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
color: #555;
text-decoration: line-through;
}
ul li.checked::before{
    background-image: url('checked.png');
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    height: 40px;
    width: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;

}
ul li span:hover{
    background: rgba(147, 145, 145, 0.788);
    border-radius: 50%;
}