* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #041d56;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

main {
    position: relative;
    top: 32px;
}

h1 {
    color: #fff;
    letter-spacing: 2px;
    text-shadow: white 2px 3px 20px;
    font-size: 50px;
}

.container {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    flex-wrap: wrap;

}

.box {
    height: 19vmin;
    width: 19vmin;
    border: none;
    box-shadow: 10px -1px 1rem #625a5acf;
    font-size: 8vmin;
    color: #041d56;
    background-color: #ffff;
    position: relative;
}

.player {
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgba(221, 216, 216, 0.919);
    font-size: 35px;
    font-weight: 400;
    margin-top: 5px;
}

#reset {
    padding: 7px;
    font-size: 2vh;
    background-color: #000;
    border-radius: 6px;
    border: none;
    color: white;
}

#new {
    color: black;
    border: solid #fff;
    background: #ffff;
    border-radius: 6px;
    padding: 4px;
    font-size: 3vmin;
    font-weight: 200;
    text-align: center;
    margin: 2vmin;
}

.message {
    height: 47vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.hide {
    display: none;
}

.hidden {
    display: inline-flex;
}

.box.preview::after {
    content: attr(data-preview);
    color: lightgray;
    font-size: 2rem;
    position: absolute;
    right: 45px;
    bottom: 35px;
    pointer-events: none;
}

#msg {
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 2px;
    font-size: 5vmin;
    font-weight: 200;
    text-align: center;
    position: relative;
    bottom: 2em;
    animation: flow 0.5s ease forwards;

}

@keyframes flow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}